/target
**/*.zip
**/target/
volt_core/target/
volt_wallet/target/
target/
**/*.exe
**/*.dll
**/*.rlib
**/*.rmeta
**/*.o
**/*.a
**/*.png
volt_wallet/assets/
**/*.rs.bk
*.pdb
*.io
*ps1
# *.lock (Removed)
.idea/
.vscode/

# Node specific
node_modules/
.next/
out/
build/
dist/

# User draft files
*_draft.txt
*.log
wallet.key
DEPLOY_README.md
PROJECT_DOCUMENTATION.md
VPS_SETUP_GUIDE.md

# Local Keys
wallet.dat

# Tools
gcc_toolchain/
wallet_app/
*.exe
*.dll
*.zip

# OS
Thumbs.db
.DS_Store

# Auto-added ignores
volt.db/
Volt_App_Final/
Volt_App_Stage/
hf_deploy/
web_deploy/
explorer/