/* Reseting default Vite styles to allow App.css to take full control */
:root {
  font-family: 'Outfit', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
